.wrapper {
    max-width: 1200px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* gap: 3em; */
    /* padding: 6em 2em; */

}

.cooperationHeader {
    text-align: center;
}

.cooperationContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
}

.cooperation {
    max-width: 1128px;
    width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}